.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__title {
  font-size: 28px;
  font-weight: 900;
}

.text__container {
  width: 100%;
  height: 100%;
  font-size: 18px;
}

@media (max-width: 600px) {
  .text__container {
    height: 70vh;
    overflow-y: scroll;
  }
}