.footer {
  width: 100vw;
  background-color: #222222;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.footer__container {
  width: 1320px;
  padding: 60px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.footer__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.logo__title {
  color: #4F8FF0;
  font-size: 28px;
  line-height: 150%;
  font-weight: 700;
  margin-bottom: -15px;
}

.logo__description {
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
}

.header__info {
  color: #F8F5F4;
  width: 862px;
  font-size: 16px;
  line-height: 120%;
}

.footer__line {
  width: 100%;
  height: 1px;
  background-color: #8C8C8C;
}

.footer__main {
  display: grid;
  grid-template-columns: 424px auto 424px;
  gap: 150px;
}

.main__contacts {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 24px;
}

.contact__item {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
}

.image__container {
  width: 55px;
  aspect-ratio: 1 / 1;
  background-color: #2C2C2C;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact__image {
  width: 32px;
  height: 32px;
}

.contact__description {
  font-size: 12px;
  font-weight: 600;
  line-height: 120%;
  color: #8C8C8C;
}

.contact__title {
  font-size: 16px;
  line-height: 150%;
  font-weight: 600;
}

.main__navigation {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.navigation__item {
  font-size: 14px;
  line-height: 120%;
  font-weight: bold;
}

.navigation__item:hover {
  color: #4F8FF0;
}

.main__person {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.person__preview {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
}

.preview__photo {
  width: 65px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

.preview__info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.info__name {
  font-size: 20px;
  font-weight: bold;
  line-height: 150%;
}

.info__position {
  font-size: 14px;
  font-weight: 300;
}

.person__phrase {
  font-size: 14px;
  line-height: 150%;
}

.footer__additional {
  width: 100vw;
  padding: 16px 0px;
  background-color: #181818;
  display: flex;
  justify-content: center;
}

.additional__container {
  width: 1320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  line-height: 120%;
}