.main {
  width: 100vw;
  padding: 60px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 200px;
  background-color: white;
}

.main__container {
  width: 1319px;
  display: flex;
  flex-direction: column;
}

.information__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.text___block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title__text {
  font-size: 28px;
  color: black;
  font-weight: 600;
  line-height: 150%;
}

.title__text b {
  font-weight: 700;
  color: #4F8FF0;
}

.description__block {
  width: 720px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.description__block p {
  font-size: 16px;
  line-height: 150%;
}

.image__block {
  width: 535px;
  height: 359px;
}

.image__block img {
  background-size: cover;
  width: 100%;
  height: 100%;
}

.button__container {
  display: flex;
  gap: 24px;
}

@media (max-width: 1400px) {
  .main__container {
    width: 90vw;
  }

  .text___block {
   width: 90vw;
  }

  .description__block {
    width: 100%;
  }

  .image__block {
    display: none;
  }
}

@media (max-width: 834px) {
  .title__text {
    font-size: 24px;
  }
}

@media (max-width: 500px) {
  .button__container {
    flex-direction: column;
    gap: 5px;
    align-items: center;
  }

  .title__text {
    font-size: 20px;
  }
}