.header {
  width: 100vw;
  height: 52px;
  background-color: black;
  display: flex;

}

.container {
  width: 1320px;
  height: 52px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact__container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.contact__container p {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  font-size: 14px;
}

.contact__container img {
  width: 20px;
  height: 20px;
}

.contact__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.call {
  color: #4F8FF0;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}