.modal__overlay {
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;
}

.modal__container {
  background-color: white;
  padding: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 4px;
  position: relative;
  max-height: 95vh;
  max-width: 85vw;
}

.container__button {
  display: flex;
  justify-content: right;
  position: absolute;
  top: 25px;
  right: 20px;
}

.button__item {
  display: flex;
  justify-content: center;
  width: fit-content;
  height: fit-content;
}

.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.container__title {
  font-size: 28px;
  color: black;
  font-weight: 900;
}

@media (max-width: 1000px) {
  .container__title {
    font-size: 24px;
  }
}

@media (max-width: 834px) {
  .container__title {
    font-size: 20px;
  }
}