@import 'tailwindcss';

html {
  scroll-behavior: smooth;
  cursor: default;
}

main, header, footer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button, a {
  cursor: pointer
}